:root {
  --main-text-color: #212121;
  --main-color: #2196f3;
  --logo-second-color: #000000;
  --second-color: #757575;
  --hover-color: #188ce8;
  --footer-color: #2f303a;
  --footer-mail-tel-color: #ffffff99;
  --hero-color: #ffffff;
}

body {
  font-family: "Roboto", "Raleway";
  background-color: #ffffff;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.section-title {
  font-size: 36px;
  line-height: 1.16;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*header*/

.web-logo {
  color: var(--main-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-second-color);
}

.navigation-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.current {
  color: var(--main-color);
}
.navigation-link:hover,
.navigation-link:focus,
.cont-link:hover,
.cont-link:focus {
  color: var(--main-color);
}

.navigation-link:active {
  color: var(--main-color);
}

.contacts-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link {
  color: var(--second-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--main-color);
}
.contact-link:active {
  color: var(--main-color);
}
.contact-link:visited {
  color: var(--main-text-color);
}

/*Main index*/
/*hero section*/
.hero {
  background-color: #2f303a;
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
}
.head-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
}
.head-button:hover,
.head-button:focus {
  background-color: var(--hover-color);
}
.head-button:active {
  background-color: var(--main-color);
}
/*About*/

.about-h3 {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.about-p {
  line-height: 1.71;
  color: var(--second-color);
}

/*team*/
.team {
  background-color: #f5f4fa;
}
.teammate {
  font-size: 16px;
  line-height: 1.18;
}
.proffession {
  font-size: 16px;
  line-height: 1.18;
  color: var(--second-color);
}

/*Main porfolio*/

/*filter*/
.filter-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-text-color);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--hover-color);
  color: #ffffff;
}
.active-filter {
  background-color: var(--main-color);
  color: #ffffff;
}

/*Portfolio list*/
.portfolio-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--second-color);
}

/*footer*/
.footer-bar {
  background-color: var(--footer-color);
}

.logo-footer {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}

.cont-link-adress {
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
}

.cont-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-mail-tel-color);
}
